body{
	margin-top:0;
}
.rights{
  text-align: center;
  height: 20px;
  padding-right: 30px;
  padding-left: 80px;
  font-family:cursive;
  color:#eeccc4;	
}


h1{
  color:black;
}	
.nav-item{  
  position: relative;
  padding-right: 30px;
  padding-left:30px;
  transition: .2s ease-in;
  z-index:1;
  border-radius:60% 20%;
  
}
nav-item::before,
nav-item::after{
	position: relative;
	content: "";
	z-index: -1;
}
.nav-item:hover {
	background: #ccffb3;
	box-shadow: 0 0 3px #ccffb3, 0 0 10px
    #80ff00, 0 0 10px #ccffb3,0 0 20px #00ffbf;	
}
.navbar{

  background-color: green !important;
  background-image: linear-gradient(to right, #66FF99, yellow);
}
.about h3 {
  padding-top:	 50px;
  padding-left: 20px; 
  padding-right: 30px;		
}
.about p {
  padding-top:	 20px;
  padding-left: 30px; 
  padding-right: 30px;		
  font-size: 18px;
}

.vision h3 {
  padding-top:	 20px;
  padding-left: 20px; 
  padding-right: 30px;		
}
.vision p {
  padding-top:	 20px;
  padding-left: 30px; 
  padding-right: 30px;		
  font-size: 18px;
}

.mission h3 {
  padding-top:	 20px;
  padding-left: 20px; 
  padding-right: 30px;		
}
.mission p {
  padding-top:	 20px;
  padding-left: 30px; 
  padding-right: 30px;		
  font-size: 18px;
}

.vl {	
  border-left: 8px solid green;
  height: 800px;
}
.hl {	
  border-left: 8px solid green;
  height: 800px;

}

.Cname{
  flex: 1;
  font-size: 4vw;
  font-weight: 900;
  letter-spacing: 0.5vw;
  margin:0;
  background: url(water.gif) 50% 50% ;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
  padding: 10px;
}
.tagline{
  flex: 1;
  position: relative;
  font-size: 2vw;
  padding-left:80px;
  padding-right:40px;
  font-weight: 1000;
  letter-spacing: 5px;
  word-spacing:10px;
  margin:0;
  background: url(grass2.gif) 50% 50% ;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
}
.menu{
	position: relative;

	  
}
.a1{

	position: relative;
  font-size: 20px;
  
}



    .image-container img {
      width: 110%; /* Ensure images fill their container */
      height: 80%; /* Maintain aspect ratio */
	padding-left:80px;


    }


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.Jumbotron {
  position: relative;
  height: auto;
  width:300px;
  background: url(soil3.jpg);

}

.Jumbotron-img {
  position: relative;
  height: 100px;
  width: auto;
}




.nav nav-tabs{
  position: relative;
}
.mail{
	padding-left:40px;
}
.address{
	padding-left:40px;
}
.phone{
	padding-left:40px;
}




